html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("indonesia.jpg");
}

.li {
    border-style: solid;
    background-color: white;
    color: red;
}

.ya {
    border-style: solid;
    background-color: white;
    color: red;
}

.air {
    border-style: solid;
    background-color: white;
    color: red;
}

.island {
    border-style: solid;
    background-color: white;
    color: red;
}

.budur {
    border-style: solid;
    background-color: white;
    color: red;
}