@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASIA TOURIST SPOTSSSS</h1>
<center><img src="~/css/tourist.jpg" width="1000" height="800" /></center>

</div>
